* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* per visualizzare le col */ 
[class*="col-"] {
    min-height: 50px;
    padding: 1rem 0;
    text-align: center;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.blue {
    background-color: rgb(0, 153, 255);
}

.justify-content {
    justify-content: center;
}